<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.luigivampa92.xlogger">

    <queries>
        <intent>
            <action android:name="android.intent.action.SEND" />
            <data android:mimeType="*/*" />
        </intent>
    </queries>

    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES" tools:ignore="QueryAllPackagesPermission" />

    <application
        android:name=".XLoggerApplication"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:allowBackup="false"
        android:fullBackupContent="false"
        android:theme="@style/Theme.XLogger"
        android:supportsRtl="true">

        <activity
            android:name=".ui.MainActivity"
            android:screenOrientation="portrait"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.InteractionLogActivity"
            android:screenOrientation="portrait"
            android:exported="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <receiver
            android:name=".InteractionLogBroadcastReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="${applicationId}.intent.action.RECEIVE_INTERACTION_LOG"/>
            </intent-filter>
        </receiver>

        <meta-data
            android:name="xposedmodule"
            android:value="true"/>
        <meta-data
            android:name="xposedminversion"
            android:value="53"/>
        <meta-data
            android:name="xposeddescription"
            android:value="@string/xposed_module_description"/>
        <meta-data
            android:name="xposedscope"
            android:resource="@array/xposed_scope_xlogger"/>

    </application>

</manifest>